{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Add a New Message {% endblock %}</h2>
    <form action="{{ url_for('append_message') }}" method="post">    
        <label for="content">Message Content</label>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="5"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <label for="number">Write Concern (min=0, max={{ node_ip_list|length + 1 }})</label>
        <br>
        <input type="number"
               name="write_concern"
               min="0"
               max="{{ node_ip_list|length + 1 }}"
               value="{{ node_ip_list|length + 1 }}"
        >
        <button type="submit">Submit</button>
    </form>
{% endblock %}